@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

/*=======================================================================
[02] NORMALIZATION CSS
=========================================================================*/
body {
  color: #999999;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 0;
  height: 0;
}


ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  color: #000;
  margin: 0 0 15px;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  color: #ffa000;
}

h1.lead {
  font-size: 160px;
  letter-spacing: 0;
  line-height: 180px;
  font-weight: 700;
}

h2.lead {
  font-size: 40px;
  letter-spacing: 0;
  line-height: 60px;
  font-weight: 700;
}

h3.lead {
  font-size: 40px;
  letter-spacing: 0;
  line-height: 60px;
}

h4.lead {
  font-size: 35px;
  letter-spacing: 0;
  line-height: 50px;
}

h5.lead {
  font-size: 34px;
  letter-spacing: 0;
  line-height: 40px;
}

h6.lead {
  font-size: 20px;
  letter-spacing: 8px;
  line-height: 36px;
}

h1 {
  font-size: 30px;
  line-height: 50px;
}

h2 {
  font-size: 26px;
  letter-spacing: 0;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  letter-spacing: 0;
  line-height: 40px;
}

h4 {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 34px;
}

h5 {
  font-size: 16px;
  letter-spacing: 6.4px;
  line-height: 20px;
}

h6 {
  font-size: 14px;
  letter-spacing: 5.6px;
  line-height: 28px;
}

.imagesDiv {
  position: relative;
  overflow: hidden;
}

.imagesDiv img {
  width: 100%;
  height: auto;
}

blockquote {
  border-left: 2px solid #fd0060;
  margin: 60px 0 50px;
  padding: 0 65px 0 20px;
}

blockquote p {
  font-size: 22px;
  color: #000000;
}

.tokenomicsDiv {
  height: 30vh;
  position: relative;
}

@media (min-width: 768px) {
  .tokenomicsDiv {
    height: auto;
    width: auto;
  }

  h1.lead {
    font-size: 160px;
    letter-spacing: 0;
    line-height: 180px;
    font-weight: 700;
  }
  
  h2.lead {
    font-size: 75px;
    letter-spacing: 0;
    line-height: 90px;
    font-weight: 700;
  }
  
  h3.lead {
    font-size: 50px;
    letter-spacing: 0;
    line-height: 60px;
  }
  
  h4.lead {
    font-size: 40px;
    letter-spacing: 0;
    line-height: 50px;
  }
  
  h5.lead {
    font-size: 34px;
    letter-spacing: 0;
    line-height: 40px;
  }
  
  h6.lead {
    font-size: 20px;
    letter-spacing: 8px;
    line-height: 36px;
  }
  
  h1 {
    font-size: 30px;
    line-height: 50px;
  }
  
  h2 {
    font-size: 26px;
    letter-spacing: 0;
    line-height: 36px;
  }
  
  h3 {
    font-size: 24px;
    letter-spacing: 0;
    line-height: 40px;
  }
  
  h4 {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 34px;
  }
  
  h5 {
    font-size: 16px;
    letter-spacing: 6.4px;
    line-height: 20px;
  }
  
  h6 {
    font-size: 14px;
    letter-spacing: 5.6px;
    line-height: 28px;
  }

  .menu-text-size{
    font-size: small;
  }
}

  .m-auto{
    margin: auto;
  }

  .box_wrap {
    background-color: #121833;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 30px;
    position: relative;
    padding: 20px 15px;
    box-sizing: border-box;
    transition: all 0.5s ease 0s;
}

.v_dark {
  background-color: #0c0e27;
}

.wrapper{
  max-width: 960px;
  margin:0 auto;
  padding: 20px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

*,
::after,
::before {
    box-sizing: border-box
}


.col-lg-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%
}

.show{
  display: none;
}


@media (max-width:768px){
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
  }

  .mtop {
    padding-top: 50px;
  }

}


@media only screen and (max-width:576px) {

.col-sm-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%
}

.pad{
  padding: 10px;
}
}

.default-color{
  background-color: #ffa000;

}

.tcolor{
  color: #ffa000;
}

.textcolor:hover{
 color: #ffa000;
}

.b-border{
  border: solid #ffa000;
  border-width: 2px 0px 2px 0px;
  border-radius: 0.5rem;
}



/*------------------- BUTTON STYLES --------------*/

.btn_group .btn {
  display: inline-block;
}

.btn {
  height: 45px;
  line-height: 45px;
  padding: 0 18px;
  border: 0 none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  height: 54px;
  line-height: 54px;
  padding: 0 25px;
  position: relative;
  vertical-align: middle;

}

.btn span {
  font-size: 20px;
  height: 38px;
  line-height: 42px;
  margin-left: -10px;
  margin-top: -2px;
  width: 38px;
}

.btn_group .btn {
  margin: 5px 0;
}

.btn.btn-radius {
  border-radius: 40px;
}

.btn + .btn:last-child {
  margin-left: 10px;
}


.btn-default {
  background-size: 200% auto;
  background-image: -webkit-linear-gradient(left, #ffa000 0%, #ffcc67 51%, #ffa000);
  background-image: linear-gradient(to right, #ffa000 0%, #ffcc67 51%, #ffa000);
  border: 0;
  color: #fff;
  outline: none;
  z-index: 2;
  transition: all 0.5s ease 0s;
}

.btn-default:hover {
  background-position: right center;
}

.btn-border {
  border: solid 2px #ffa000;
  color: #fff;
  outline: none;
  background-color:transparent;
}

.btn i.fa {
  font-size: 16px;
  margin-left: 0;
  margin-right: 10px;
  margin-top: -2px;
  padding: 0;
}

.btn i {
  font-size: 30px;
  line-height: 24px;
  margin-left: 5px;
  padding-top: 4px;
  vertical-align: middle;
}

.btn_group .btn {
  display: inline-block;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle
}

.central{
  margin: 20px auto;
}
@media only screen and (max-width:576px) {

  .btn {
    height: 45px;
    line-height: 45px;
    padding: 0 18px;
  }
  .btn span {
    font-size: 20px;
    height: 38px;
    line-height: 42px;
    margin-left: -10px;
    margin-top: -2px;
    width: 38px;
  }
  .btn i {
    font-size: 26px;
  }
  .btn+.btn:last-child {
    margin-left: 5px;
  }
  }

  @media only screen and (max-width: 768px){
.default-txt:hover {
    color: #ffa000;
}
}

@media only screen and (max-width: 575px){
.scroll {
    overflow: auto;
    max-height: 400px;
    padding: 5px;
    scrollbar-width: thin;
    font-size: medium;
}

}

@media (min-width: 320px) {
  .half {
      width: 50%;
  }
  .tc {
    text-align: center;
}
}

.font14{
  font-size: 0.875rem;
}

.iscroll {
  overflow: scroll;
  padding: 2px;
}

/*---------------------join presale button------------*/

@media (min-width: 768px) and (max-width: 987px ){

  .hide{
    display: none;
  }

  .show{
    display: block;
  }
  
}


/*---------------------Loader------------*/

.custom-loader {
  display: inline-block;
  width:20px;
  height:20px;
  border-radius:50%;
  padding:3px 1px 3px 3px;
  background:conic-gradient(#0000 10%,#FFA000) content-box;
  -webkit-mask:
    repeating-conic-gradient(#000 0deg,#000 1deg 20deg,#000 21deg 36deg),
    radial-gradient(farthest-side,#000 calc(100% - 4.5px),#000 calc(100% - 4px));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation:s4 1s infinite steps(10);
}
@keyframes s4 {to{transform: rotate(1turn)}}

.custom-waiting {
  display: inline-block;
  width:20px;
  height:20px;
  border-radius:50%;
  padding:3px 1px 3px 3px;
  background:conic-gradient(#0000 10%,#ffa000) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
    radial-gradient(farthest-side,#0000 calc(100% - 4.5px),#000 calc(100% - 4px));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
